.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/*@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}*/

.App-header {
  background-color: #047240;
  min-height: 100vh;
  /*display: flex;
  flex-direction: column;*/
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom: 5px solid #000000;
}

.App-link {
  color: #61dafb;
}

/*
.card-row {
  
}

.card.1 {
  
}

.card.2 {
  
}

.card.3 {
  
}

.card.4 {
  
}



.menu.media {
 favicon ref

}

.menu.like {
  favicon ref
  fa fa-thumbs-up
}

.menu.dislike {
  favicon ref
  fa fa-thumbs-down
}

.menu.favorite {
  favicon ref
  fa fa-thumb-tack
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<i class="fa fa-thumb-tack" style="font-size:48px;color:red"></i>




.menu.hide {
  favicon ref
    cancel
    <i class="material-icons" style="font-size:48px;color:red">cancel</i>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

}
*/