.App-header {
  background-color: #047240;
  color: #FFFFFF;
  border-bottom: 5px solid #000000;
}

.App-link {
  color: #61dafb;
}

.App-Title {
  font-family: 'Dosis', sans-serif;
  font-size: calc(30px + 3vmin);
}

.StackTopic{
  font-family: 'Dosis', sans-serif;
}

.StackDesc {
  font-family: 'Open Sans', sans-serif;
}

.App-Title,
.App-Subtitle {
  margin: -10px 0px 5px 10px;
}

.App-Title,
.App-header
h1 {
    text-align: left;
}

.subdesc { 
  margin: -50px;
}

.col {
  margin: 10px -21px -5px -20px;
}

h1 {
  font-size: 30px;

}

.fa {
  color: #FFFFFF;
  background-color: #047240;
  font-size: 25px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: inline-block;
  padding: 7px;
  margin: 5px 5px 10px 5px;
}

.cardImage {
  width: 200px;
  height: 320px;
}

img {
  border-radius: 5px;
}