.App {
  text-align: center;
  background-color: #E3E3E3;
}

.App-header {
  background-color: #047240;
  /*min-height: 100vh;*/
  /*display: flex;
  flex-direction: column;*/
  /*align-items: left;
  justify-content: left;*/
  font-size: calc(10px + 2vmin);
  color: #FFFFFF;
  border-bottom: 5px solid #000000;
  margin: 15px 0px 0px 0px;
}

.App-link {
  color: #61dafb;
}

.App-Title {
  font-family: 'Impact';
  font-size: calc(40px + 3vmin);
  margin: -20px;
}

.App-Subtitle {
  
}

.rowtest1 {

}

.card-col {
  margin:20px 20px 10px 0px;
}

.col {
  margin-top: 10px;
}

.fa {
  color: #FFFFFF;
  background-color: #047240;
  font-size: 25px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: inline-block;
  padding: 7px;
  margin: 5px;
}

.cardStock {
  width: 240px;
  height: 360px;
}

/*



.menu.media {

}

.menu.like {
  favicon ref
  fa fa-thumbs-up
  color: white;
}

.menu.dislike {
  favicon ref
  fa fa-thumbs-down
  color: white;
}

.menu.favorite {
  favicon ref
  fa fa-thumb-tack
  color: white;
}


<i class="fa fa-thumb-tack" style="font-size:48px;color:red"></i>




.menu.hide {
  favicon ref
    cancel
  color: white;    
}
*/