.App {
  text-align: center;
  background-color: #E3E3E3;
}

.Header {
  background-color: #047240;
  font-size: calc(10px + 2vmin);
  color: #FFFFFF;
  border-bottom: 5px solid #000000;
  margin: 15px 0px 0px 0px;
}

.App-link {
  color: #61dafb;
}

.App-Title {
  font-family: 'Helvetica', Bold;
  font-size: calc(40px + 3vmin);
  margin: -20px;
}

.Subtitle {
  
}

.card-col {
  margin:20px 20px 10px 0px;
}

.col {
  margin-top: 10px;
}

.fa {
  color: #FFFFFF;
  background-color: #047240;
  font-size: 25px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: inline-block;
  padding: 7px;
  margin: 5px;
}

.StackDesc {
  margin: 0px 100px;
  font-family: 'Helvetica';
}

.StackTopic {
  font-family: 'Raleway', sans-serif;
}

a href{ 
  text-decoration: none;
}